
.register_con {

    width: 500px;
    background-color: #B3CAFF;
    border-radius: 5px;
}

.register_con .register_icon{
    font-size: 50px;
    background-color: white;
    color:#2573DA;
    border-radius: 50%;
    padding: 18px;
}

.register_con .register_from input{
    width: 62%;
    height: 45px;
    border:none;
    outline: none;
    margin: 8px auto auto auto;
    font-size: 13px;
    padding-left: 10px;
    padding-bottom: 2px;
    background-color: transparent;
    border:1px solid var(--white-color);
}
.register_con .register_from input::placeholder {
    color:var(--white-color);
}
.register_con .register_from a{
    text-decoration: none;
    color:black;
}


/* Override Bootstrap button's :active state to prevent size change */
/* Override Bootstrap button's size to prevent change on click */
.btn-primary {
    width: 100px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
}

.rakit {
width: 62%;
    height: 20px;
    border-radius: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    margin: 4px auto auto auto;
line-height: 5px;
}

.error-text {
    font-size: 14px;
    font-family: Arial, sans-serif;
}